@page
@model RecruitCatgirgastj.Pages.Companies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Company Details</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.PositionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.PositionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.MinimumSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.MinimumSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.MaximumSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.MaximumSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Website)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Website)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.CompanyRevenue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyRevenue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.IsHiring)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.IsHiring)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Industry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Industry.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Company.CompanyId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

<h3>Candidates Who Work Here</h3>
<table class="table">
<tr>
<th>Total Candidates</th>
</tr>
<td>@model.Company.Candidates.Count</td>
</tr>
<table>
    